/* import the css file in navbar component */

/* creating css properties for nav bar */
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170 px;
}

/* add css properties for nav menu class name  */
.nav-menu{
    display:flex;
    align-items:center ;
    list-style: none;
    gap: 60px;
    font-size: 20px;

}
/* now we will add css properties for nav connect classes */
.nav-connect{
    padding: 20px 30px;
    border-radius: 45px;
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102.8%);
    font-size:20px ;
    cursor:pointer;
    transition: 0.5s;
}

/* now we will add the hover effect on this button */
.nav-connect:hover{
    transform: scale(1.05);
}

/* adding css properties for li tag */
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

/* adding css properties for the bottom image */
.nav-menu li img{
    display: flex;
    margin: auto;
    width:110px;
    height: 80px;;
}

.anchor-link{
    text-decoration:none;
    color: white;
}
.nav-mob-close{
    display: none;
}
/* at the time of desktop view menu icon will be hidden */
.nav-mob-open{
    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px;
    }
    .nav-connect{
        display: none;
    }

    .nav-mob-open{
        display: block;
        position: fixed;
        right:30px ;
    }
    .nav-mob-close{
         display: block;
        position: absolute;
        top: 20px;
        right: 20px;               
        width: 28px;
        cursor: pointer;
    }
    .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;              
    width: 80%;               
    max-width: 320px;
    height: 100%;
    background-color: #1F0016;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 80px;
    transition: right 0.4s ease;
    z-index: 2;
  }
    .nav-menu li{
        font-size: 30px;
        padding-left:100px;
        flex-direction:row;
        gap:20px;

    }
    
}